@import './_common.scss';

body {
  padding: 10px;
  font-family: sans-serif;
}

.main-layout {
  h1 {
    text-align: center;
  }

  nav {
    display: flex;
    flex: 1;
    border-bottom: 2px rgba(128, 128, 128, 0.28) solid;
    padding-bottom: 15px;
  }

  .main-layout-links {
    display: flex;
    flex: 1;
    justify-content: space-around;
  }
}

.home-posts{
  display: grid;
  grid-template-columns: 25% 75%;

  .home-posts-list-container{
    button{
      background:none;
      color: rgb(1,1,1);
    }

    button:hover, button:focus{
      background-color:#c2d1ef;
    }
  }
}

#home-form-container, .new-comment-form {
  textarea {
    display: block;
    height: 100px;
    width: $input-width;
    font-size: 20px;
  }

  input {
    display: block;
    width: $input-width;
    font-size: 20px;
  }
}

.ui .feed {
  padding:10px;
}

.new-comment-form{
  width: $input-width;
  font-size: 20px;
  text-align: center;
  
  .ui.button {
   margin-top: 8px;
  }
}

.ui.card>.content, .ui.cards>.card>.content{
  border-top: 0;
}

.post-container {

  .post-header-container {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    
    .delete-post-container{
      text-align: right;
    }
  }
}

