@import './_common.scss';
@import url('https://fonts.googleapis.com/css?family=Montserrat|PT+Sans+Narrow|Open+Sans+Condensed:300&display=swap');

body {
  min-height: 100vh;
  display: flex;
  flex: 1;
}

.account-container{
  padding: 0;
}

.router-container{
  display: flex;
  flex: 1;
  flex-direction: column;
}

.landing-sign-in{
  
  #login-dropdown-list{
    left: -65px;
  }

  .ui.header{
    margin: 0;
  }
}

nav{
  padding: 0;
}

#react-target{
  display: flex;
  flex: 1;
}

.landing {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;

  .landing-image{
    background-image: url(images/wishingwell.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    width: 500px;
    margin: 0 auto;
    background-position-y: center;
  }

  h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 100px;
  }

  h4 {
    margin-top: 0;
    font-family: 'Montserrat';
  }
}

.ui.container{
  display: flex;
  flex: 1;
  flex-direction: column;
}

.main-layout {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100%;

  h1, h3 {
    text-align: center;
  }

  nav {
    display: flex;
    flex: 1;
    border-bottom: 2px rgba(128, 128, 128, 0.28) solid;
  }

  .welcome-text{
    margin-bottom: 10px;
    text-align: center;
    
    p {
      font-family: Open Sans Condensed;
      font-size: 20px;
      font-weight: 600;
    }
  }

  .main-layout-links {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: baseline;
    font-size: 15px;

    a{
      font-size: 25px;
      margin: 0px 25px;
      transition: .35s ease-in-out;
    }
    a:hover{
      color: #0a3b6b;
      font-size: 30px;
    }

    h3{
      font-family: Montserrat;
      font-size: 20px;
      font-weight: 600;
    }
  }
}

.home-container {
  
  .home-title{
    margin-bottom: 10px; 
  }

  .home-posts{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
  
    .home-posts-active-post{
      margin: 0 auto;
    }
  
    .home-posts-list-container{
      ul {
        padding-left: 0;
        border-bottom: 1px solid rgba(1, 1, 1, 0.15);
      }
  
      li{
        padding-left: 0;
        border-bottom: 1px solid rgba(1, 1, 1, 0.15);
      }
  
      button{
        background:none;
        color: rgb(1,1,1);
      }
  
      button:hover, button:focus{
        background-color:#c2d1ef;
      }
    }
  }
}


#home-form-container, .new-comment-form, .ui.modal {
  textarea {
    display: block;
    font-size: 20px;
  }

  div.ui.input, input, .ui.form>textarea {
    font-size: 20px;
    width: 100%
  }
}

.ui .feed {
  padding:10px;
}

.new-comment-form{
  width: $input-width;
  font-size: 20px;
  text-align: center;
  margin: 25px 0;

  
  .ui.button {
   margin-top: 8px;
  }
}

.ui.card>.content, .ui.cards>.card>.content{
  border-top: 0;
}

.ui.raised.card {
  margin: 25px 0;
}

.comments-container{
  width: 500px;
  margin: auto;
  max-width: 100%;
}

.post-container {

  width: 700px;
  max-width: 100%;
  margin: 20px auto 0;

  .post-header-container {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    
    .delete-post-container{
      text-align: right;
    }
  }

  .ui.card {
    width: 100%;
  }

  .comment-timer-fail-message{
    color: red;
    font-weight: 600;
    padding: 10px;
    border: 1px red solid
  }
}
